/* Sidebar */
.stable-sidebar{
  border: 1px solid red;
}

  .stable-sidebar-map-wrap{
    border: 1px solid red;
    height: 310px;
    width: 310px;
  }
    .stable-sidebar-map-address{
      font-size: 12px;
    }