/* Footer CSS */

.footer-container {
  background: #333333;
  height: 200px;
}

.footer-inner-container {
  display: flex;
  color: white;
  font-family: Spartan;
  justify-content: space-between;
  margin: 0 12.5%;
}

.footer-programmer-container > h3 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 12px;
}

.footer-github-img {
  display: flex;
  margin: 13px 0px;
}

.footer-github-img > a {
  text-decoration: none;
  color: #A5A5A5;
  font-size: 13px;
  align-self: center;
}

.footer-github-img > a:hover {
  text-decoration: underline;
}

.footer-divider-line {
  margin: 30px 12.5%;
  border-bottom: 1px solid #626262;
}

@media only screen and (max-width: 1606px) {
  .footer-inner-container {
    margin: 0 18.5%;
  }
}

@media only screen and (max-width: 773px) {
  .footer-inner-container {
    margin: 0 3.6%;
  }
}

@media only screen and (max-width: 1098px) {
  .footer-inner-container {
    margin: 0 6.6%;
  }
}

@media only screen and (max-width: 685px) {
  .footer-inner-container {
    margin: 0 3%;
  }
}