.calendar-full-container {
  position: absolute;
  top: 335px;
  left: 22%;
  z-index: 1;
  font-family: Spartan;
  height: 316px;
  width: 352px;
  border-radius: 3px;
  /* display: block; */
  opacity: 1;
  transition: transform .15s ease-out, opacity .15s ease-out, margin-top .15s;

}

.calendar-full-container-hidden {
  /* display: none; */
  position: absolute;
  top: 335px;
  left: 22%;
  z-index: -1;
  font-family: Spartan;
  height: 316px;
  width: 352px;
  border-radius: 3px;
  margin-top: -10px;
  transition: transform .15s ease-out, opacity .15s ease-out, margin-top .15s, z-index .35s;
  opacity: 0;
}

@media only screen and (max-width: 1644px) {
  .calendar-full-container {
    left: 17%;
  }
  
  .calendar-full-container-hidden {
    left: 17%;
  }
}

@media only screen and (max-width: 1397px) {
  .calendar-full-container {
    left: 11%;
  }

  .calendar-full-container-hidden {
    left: 11%;
  }
}

@media only screen and (max-width: 1186px) {
  .calendar-full-container {
    left: 4.5%;
  }

  .calendar-full-container-hidden {
    left: 4.5%;
  }
}

@media only screen and (max-width: 999px) {
  .calendar-full-container {
    left: 9.5%;
    top: 273px;
  }

  .calendar-full-container-hidden {
    left: 9.5%;
    top: 273px;
  }
}

@media only screen and (max-width: 838px) {
  .calendar-full-container {
    left: 1.5%;
  }

  .calendar-full-container-hidden {
    left: 1.5%;
  }
}

@media only screen and (max-width: 705px) {
  .calendar-full-container {
    top: 303px;
  }

  .calendar-full-container-hidden {
    top: 303px;
  }
}

.calendar-caret {
  position: absolute;
  left: 90px;
  top: -13px;
  color: rgb(255, 255, 255);
  transform: scale(1.4, 1);
  font-size: 20px;
  text-shadow: 0px 0 rgb(255, 255, 255), 0 -2px rgb(235, 226, 226);
  z-index: 2;
  height: 16px;
  opacity: 1;
  margin-top: 0;
}

.react-calendar-full {
  position: relative;
  z-index: 1;
  font-family: Spartan;
  height: 301px;
  width: 352px;
  border: 1px solid rgb(222, 221, 221);
  border-radius: 3px;
}

.react-calendar__month-view__weekdays {
  font-weight: lighter;
  color: rgb(147, 146, 146);
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
}

.calendar-divider {
  border-bottom: 1px solid rgb(235, 229, 229);
  position: absolute;
  top: 89px;
  margin: 0 13px;
  width: 92%;
}

.react-calendar__month-view__days button {
  font-family: Spartan;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 1px;
}

.react-calendar__month-view__weekdays {
  margin: 0 13px;
}

.react-calendar__month-view__days {
  margin: 0 13px;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #a9a7a7;
}

.react-calendar__tile--active {
  color: white;
}

.react-calendar__navigation__label {
  font-family: Spartan;
  font-size: 13px;
  padding-top: 9px;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__prev-button {
  font-size: 26px;
  font-weight: 400;
  font-family: Spartan;
  color: #DA3643;
  transition: background-color 0.3s;
}

.react-calendar__navigation button {
  min-width: 24px;
  height: 28px;
  margin: 12px 10px;
}

.react-calendar__navigation__next-button {
  font-size: 26px;
  font-weight: 400;
  font-family: Spartan;
  color: #DA3643;
  transition: background-color 0.3s;
  min-width: 20px;
  height: 28px;
} 

.react-calendar__navigation__prev-button:hover {
  color: #B8222C;
}

.react-calendar__navigation__next-button:hover {
  color: #B8222C;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: white;
}

.react-calendar__navigation__label {
  cursor: pointer;
  position: relative;
  z-index: -1;
}

.react-calendar__month-view__days > button:hover {
  color: #DF5A65;
  border-radius: 100%;
  background-color: #F7D7D9 !important;
}

.react-calendar__tile .react-calendar__month-view__days__day .react-calendar__month-view__days__day--weekend {
  max-width: 10.29% !important;
}

.react-calendar__tile {
  padding: 0.75em 0em;
  max-width: 10.2857% !important;
  margin-left: 12px !important;
}

.react-calendar__tile--active {
  background-color: #DA3742 !important;
  border-radius: 100%;
}

.react-calendar__month-view__days > button:focus {
  color: white;
  background-color: #DA3742 !important;
  border-radius: 100%;
}