/* NavDropdown CSS*/

.splash-dropdown-full-container {
  position: relative;
  z-index: 2;
  top: 35px;
}

/* .splash-dropdown-full-container > p {
  position: absolute;
  right: 2px;
  top: -10px;
  color: rgb(255, 255, 255);
  transform: scale(1.4, 1);
  font-size: 14px;
  text-shadow: 0px 0 rgb(255, 255, 255), 0 -2px rgb(235, 226, 226);
  z-index: 1;
} */

/* .splash-dropdown-inner-container {
  background: white;
  border: 1px solid rgb(235, 226, 226);
  border-radius: 3px;
  position: absolute;
  right: -55px;
  margin-top: 0px;


  height: 0;
  opacity: 0;

  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  z-index: 6;
  -webkit-transition: -webkit-transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s;
  -moz-transition: -moz-transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s;
  transition: transform .15s ease-out, opacity .15s ease-out, margin-top .15s;
} */

.splash-drop-p {
  position: absolute;
  right: 2px;
  top: -10px;
  color: rgb(255, 255, 255);
  transform: scale(1.4, 1);
  font-size: 14px;
  text-shadow: 0px 0 rgb(255, 255, 255), 0 -2px rgb(235, 226, 226);
  z-index: 1;

  margin-top: -10px;
  height: 0;
  opacity: 0;
  transition: transform .15s ease-out, opacity .15s ease-out, margin-top .15s;
}

#splash-drop-p-opened {
  position: absolute;
  right: 2px;
  top: -10px;
  color: rgb(255, 255, 255);
  transform: scale(1.4, 1);
  font-size: 14px;
  text-shadow: 0px 0 rgb(255, 255, 255), 0 -2px rgb(235, 226, 226);
  z-index: 1;

  height: 168px;
  opacity: 1;
  margin-top: 0;
}

#elem3 {
  z-index: 2;
}

#elem3-opened {
  z-index: 1;
}

#elem4 {
  display: none;
}

#elem4-opened {
  display: block;
}

.splash-dropdown-inner-container {
  background: white;
  border: 1px solid rgb(235, 226, 226);
  border-radius: 3px;
  position: absolute;
  right: -55px;
  margin-top: -10px;
  height: 0;
  opacity: 0;

  transition: transform .15s ease-out, opacity .15s ease-out, margin-top .15s;
}

#splash-dropdown-inner-container-opened {
  background: white;
  border: 1px solid rgb(235, 226, 226);
  border-radius: 3px;
  position: absolute;
  right: -55px;
  height: 168px;
  opacity: 1;
  margin-top: 0;
  transform: translateY(0) perspective(600px) rotateY(0);
}

/* .splash-dropdown-inner-container:hover {
  transform: translateY(0) perspective(600px) rotateY(0);
  height: 168px;
  opacity: 1;
  margin-top: 10px;
} */

.splash-dropdown-inner-container li {
  width: 232px;
  height: 42px;
  display: flex;
  color: rgb(94, 92, 92);
  cursor: pointer;
}

.splash-dropdown-inner-container p {
  text-decoration: none;
  font-family: Spartan;
  font-size: 14px;
  align-self: center;
  margin-left: 15px;
  font-weight: 500;
}

.splash-dropdown-inner-container li:hover {
  background: #F7F7F7;
  color: black;
}