.photos-container{
  border: 1px solid red;
}
  .photos-title{
    border: 1px solid red;
  }
    .photo-tile{
      border: 1px solid red;
      height: 100px;
      width: 100px;
    }

.photos-block{
  border: 1px solid red;
  display: flex;
  /* flex-direction: row; */
  height: 500px;
  /* justify-content: space-evenly; */
}

.photos-block-list{
  width: 640px;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
}
  .photos-block-list li{
    display: flex;
    border: 1px solid red;
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 5px 5px;
  }