.photos-container{
  border: 1px solid red;
}
  .photos-title{
    border: 1px solid red;
  }
    .photo-tile{
      border: 1px solid red;
      height: 100px;
      width: 100px;
    }

.photos-block{
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.pb{
  width: 640px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}