.tour-container{
    font-family: Spartan;
    border: 0.5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .tour-map{
        display: flex;
        border: 0.5px solid red;
        width: 100%;
        height: 500px;
    }

    .tour-title{
        display: flex;
        font-size: 50px;
        color: #2d333f;
        background-color: white;
        height: 100px;
        width: 990px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: -100px;
        z-index: 1000px;
        position: relative;
        /* filter: drop-shadow(27px 36px 74px rgba(17, 15, 17, 0.454)); */
    }

    .tour-display{
        border: 0.5px solid red;
        width: 990px;
        height: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        background-color: white;
    }

    .tour-main{
        width: 640px;
    }

        .tour-navigation ul{
            display: flex;
            flex-direction: row;
        }
        .tour-main-desc{
            border: 0.5px solid red;
        }

    .tour-details{
        width: 320px;
    }