.stable-display{
    width: 990px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    border: 0.5px solid red;
}
.stable-main{
    width: 640px;
}
.stable-details{
    width: 320px;
}
.stable-navigation ul{
    display: flex;
    flex-direction: row;
}