/* Sign In Modal CSS */

.photo-modal-container {
  height: 176%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  /* overflow-y: auto; */
  background: rgba(0, 0, 0, 0.413);
  z-index: 2;
  display: flex;
  justify-content: center;
  bottom: 10px;
}


.photo-modal-wrap{
  border: 1px solid red;
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: fixed;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .photo-modal-arrow{
    text-align: center;
    font-size: 2em;
    border: 1px solid red;
  }
  .photo-modal-tile{
    height: 500px;
    width: 500px;
    position: relative;
  }