/* Sign In Modal CSS */

.photo-modal-container {
  height: 176%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  /* overflow-y: auto; */
  background: rgba(0, 0, 0, 0.413);
  z-index: 2;
  display: flex;
  justify-content: center;
  bottom: 10px;
}


.photo-modal-wrap{
  width: 700px;
  height: 700px;
  position: fixed;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .photo-modal-arrow{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 2em;
    border-radius: 3px;
    color: white;
    filter: drop-shadow(2px 5px 9px black);
  }
  .photo-modal-tile{
    height: 500px;
    width: 500px;
    position: relative;
    filter: drop-shadow(2px 5px 9px black);
  }