/* Sign In Modal CSS */

.photo-modal-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.413);
  z-index: 2;
  display: flex;
  justify-content: center;
}
/* 
.splash-modal-inner-container-signin {
  background: white;
  height: 410px;
  width: 460px;
  margin-top: 20px;
  align-self: center;
}

.splash-modal-form-signin {
  margin: 45px 30px 0px 30px;
}

.splash-modal-form-signin > h1 {
  font-family: Spartan;
  font-size: 19px;
  font-weight: 600;
}

.splash-modal-divider-signin {
  border-bottom: 1px solid #E0E0E0;
}

.signin-divid1 {
  margin: 11px 0 10px 0px;
}

.splash-signin-modal-bottom-container {
  font-family: Spartan;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-top: 9px;
}

.splash-signin-modal-bottom-container > a {
  color: #237B98;
  text-decoration: none;
  align-self: flex-end;
  font-size: 13px;
  margin-bottom: 5px;
}

.splash-signin-modal-bottom-container > a:hover {
  color: rgb(33, 90, 109)
}

.splash-modal-signin-account {
  background-color: #DA3643;
  border-radius: 3px;
  border: none;
  color: white;
  height: 53px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;  
  font-family: Spartan;
  transition: background-color 0.3s;
  transition-timing-function: ease-out;
  outline: 0;
}

.splash-modal-signin-account:hover {
  background-color: #B8222C;
}

.splash-modal-signin-account:active {
  outline: 2px solid rgb(182, 180, 180);
}

.second-modal-divider-signin {
  position: relative;
  bottom: -30px;
}

.splash-modal-form-signin > p {
  position: relative;
  bottom: -55px;
  font-family: Spartan;
  font-weight: 500;
  font-size: 14px;
}

.signin-modal-create-account {
  text-decoration: none;
  color: #DA3643;
}

.signin-modal-create-account:hover {
  color: #B8222C;
} */