.splash-top-bar {
  display: flex;
  padding-left: 2.25rem;
  padding-right: 1.25rem;
  justify-content: space-between;
  height: 54px;
}

.splash-left-side {
  display: flex;
}

.splash-logo-container {
  align-self: center;
}

.splash-location-container {
  margin-left: 16px;
  margin: 2px 25px;
  border-left: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75px;
}

.splash-location-spacing {
  display: flex;
  width: 45px;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  height: 100%;
}

.splash-auth-container {
  display: flex;
  align-self: center;
}

.splash-auth-container > button {
  color: white;
  background-color: rgb(36, 126, 156);
  padding: 0 1rem;
  line-height: 2rem;
  border-radius: 3px;
  font-family: Spartan;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.splash-auth-container > a {
  align-self: center;
  font-family: Spartan;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
  padding: 0 0 0 0.50rem;
  margin-right: 25px;
}

@media only screen and (max-width: 1030px) {
  .splash-auth-container > button {
    margin-right: 0;
  }

  .splash-auth-container > a {
    margin-right: 0;
  }

  .splash-top-bar {
    padding-left: 1.25rem;
  }
}


.splash-image-animation-container {
  height: 416px;
  overflow: hidden;
  position: relative;
}

.splash-img-anim1 {
  max-width: 100%;
  margin-top: -15%;
  position: absolute;
  left: 0;
}

.splash-img-anim2 {
  max-width: 100%;
  margin-top: -15%;
  position: absolute;
  left: 0;
}

.splash-img-anim3 {
  max-width: 100%;
  position: absolute;
  left: 0;
  margin-top: -102%;
}

@media only screen and (max-width: 942px) {
  .splash-img-anim1 {
    margin-top: -12%;
  }

  .splash-img-anim2 {
    margin-top: -12%;
  }

  .splash-img-anim3 {
    margin-top: -90%;
  }
} 

@media only screen and (max-width: 724px) {  
  .splash-img-anim1 {
    margin-top: 0%;
  }

  .splash-img-anim2 {
    margin-top: 0%;
  }

  .splash-img-anim3 {
    margin-top: -75%;
  }
}

@media only screen and (max-width: 625px) {  
  .splash-img-anim1 {
    max-height: 100%;
    min-width: 100%;
    max-width: 1500px;
  }

  .splash-img-anim2 {
    max-height: 100%;
    min-width: 100%;
    max-width: 1500px;
  }

  .splash-img-anim3 {
    min-width: 100%;
    max-width: 500px;
    margin-top: -65%;
  }
}

@keyframes example {
  0% {
    opacity:1;
  }
  20.5% {
    opacity:0;
  }
  50% {
    opacity:0;
  }
  87.5% {
    opacity:1;
  }
  100% {
    opacity:1;
  }
}

.splash-image-animation-container > img {
  animation-name: example;
  animation-duration: 18s;
}

.splash-img-anim1:nth-of-type(1) {
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 18s;
}

.splash-img-anim2:nth-of-type(2) {
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}
.splash-img-anim3:nth-of-type(3) {
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}